<table mat-table [dataSource]="dataSourceEvent">
  <ng-container class="station" matColumnDef="station">
    <th mat-header-cell *matHeaderCellDef> STATION </th>
    <td mat-cell *matCellDef="let element"> {{element.station}} </td>
  </ng-container>

  <ng-container class="station-name" matColumnDef="station-name">
    <th mat-header-cell *matHeaderCellDef> STATION NAME</th>
    <td mat-cell *matCellDef="let element"> {{element.stationName}} </td>
  </ng-container>

  <ng-container class="version" matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> VER. NUM </th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>

  <ng-container class="update" matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> UPDATE VERSION </th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="!element.pending && !element.updated " (click)="updateVersion(element)" [disabled]="!checkVersion(element.version)"
        mat-stroked-button>
        Update
      </button>
      <span class='pending' *ngIf="element.pending">Pending...</span>
      <span class="updated" *ngIf='element.updated'>
        <img src="/assets/path_16.svg" alt="Done">
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="Events">
    <div class='events' mat-cell *matHeaderCellDef>
      <img src="/assets/ic_cevents.svg" alt="cEvents"> c-Events
    </div>
  </ng-container>


  <tr mat-header-row class="headers-column" *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class='event-wrapper' mat-row *matHeaderRowDef="['Events']"></tr>
</table>

<table mat-table [dataSource]="dataSourceLive">
  <ng-container class="station" matColumnDef="station">
    <th mat-header-cell *matHeaderCellDef> STATION </th>
    <td mat-cell *matCellDef="let element"> {{element.station}} </td>
  </ng-container>

  <ng-container class="station-name" matColumnDef="station-name">
    <th mat-header-cell *matHeaderCellDef> STATION NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.stationName}} </td>
  </ng-container>

  <ng-container class="version" matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> VER. NUM </th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>

  <ng-container class="update" matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> UPDATE VERSION </th>
    <td mat-cell *matCellDef="let element">
        <button *ngIf="!element.pending && !element.updated " (click)="updateVersion(element)" [disabled]="!checkVersion(element.version)"
        mat-stroked-button>
        Update
      </button>
      <span class='pending' *ngIf="element.pending">Pending...</span>
      <span class="updated" *ngIf='element.updated'>
          <img src="/assets/path_16.svg" alt="Done">
        </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="Live">
    <div class='events live' mat-cell *matHeaderCellDef>
      <img src="/assets/ic_clive.svg" alt="cLive"> c-Live
      <button (click)="updateVersionAll()" mat-button [disabled]='needUpdateAll && !checkVersionOfEvents()'>
        Update ALL
      </button>
    </div>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class='event-wrapper live-wrapper' mat-row *matHeaderRowDef="['Live']"></tr>
</table>
